{% extends 'templates/base/index.html' %}
{% block title %}Pokemon tipo {{ tipo_name }}{%  endblock %}
{% block contenido %}
    <div class="container col-md-10" style="padding-top: 3%; padding-bottom: 3%">
    <h3 style="text-transform: capitalize">Mostrando pokemon del tipo {{ tipo_name }}</h3>
        <div class="col-md-2">
            <a class="btn btn-success form-control" href="{% url 'tipos_pokemon' %}">Filtrar</a>
        </div><br>
    {% csrf_token %}
    {% if pokemonS %}
        <div class="row g-3">
        {% for pokemonS in pokemonS %}
        <div class="col-sm-4" style="text-align: center;">
            <div class="card">
                <div class="card-body">
                    <img height="140" src="{{ pokemonS.imagen.dream_world.front_default }}" class="rounded mx-auto d-block">
                    <h5 class="card-title" style="text-transform: capitalize">{{ pokemonS.nombre }}</h5>
                    <a href="{% url 'informacion_pokemon' pokemonS.id %}" class="btn btn-danger">Descripción</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4>ERROR</h4>
        </div>
    {% endif %}
    </div>
    {% endblock %}